@CHARSET "UTF-8";

.cursor {
	cursor : pointer;
}

.align-right {
	text-align: right;
}

h1 {
	font-size: 32pt;
}

html {
  font-family: 'Lato', sans-serif;
  margin: auto;
  width: 960px;
}

.login {
	width: 50px;
}

img {
	padding: 10px;
}